USE [master]
GO
/****** Object:  Database [LibraryDB]    Script Date: 7/9/2026 10:33:46 PM ******/
CREATE DATABASE [LibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDB', FILENAME = N'C:\Users\abdo\LibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDB_log', FILENAME = N'C:\Users\abdo\LibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/9/2026 10:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](150) NOT NULL,
	[ISBN] [nvarchar](30) NULL,
	[PublishYear] [int] NULL,
	[CategoryID] [int] NOT NULL,
	[Copies] [int] NOT NULL,
	[AvailableCopies] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Books]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Books]
AS
SELECT
    B.BookID,
    B.Title,
    B.Author,
    B.ISBN,
    B.PublishYear,
    C.CategoryName,
    B.Copies,
    B.AvailableCopies
FROM Books B
INNER JOIN Categories C
ON B.CategoryID = C.CategoryID;
GO
/****** Object:  Table [dbo].[Members]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[JoinDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrowings]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrowings](
	[BorrowID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[BorrowDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[ReturnDate] [date] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BorrowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BorrowedBooks]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_BorrowedBooks]
AS
SELECT        BR.BorrowID, M.FullName AS MemberName, B.Title AS BookTitle, BR.BorrowDate, BR.DueDate, BR.ReturnDate, BR.Status
FROM            dbo.Borrowings AS BR INNER JOIN
                         dbo.Members AS M ON BR.MemberID = M.MemberID INNER JOIN
                         dbo.Books AS B ON BR.BookID = B.BookID
GO
/****** Object:  View [dbo].[vw_ReturnedBooks]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ReturnedBooks]
AS
SELECT
    BR.BorrowID,
    M.FullName AS MemberName,
    B.Title AS BookTitle,
    BR.BorrowDate,
    BR.ReturnDate
FROM Borrowings BR
INNER JOIN Members M
ON BR.MemberID = M.MemberID
INNER JOIN Books B
ON BR.BookID = B.BookID
WHERE BR.ReturnDate IS NOT NULL;
GO
/****** Object:  View [dbo].[vw_MembersBorrowCount]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_MembersBorrowCount]
AS
SELECT
    M.MemberID,
    M.FullName,
    COUNT(BR.BorrowID) AS TotalBorrowed
FROM Members M
LEFT JOIN Borrowings BR
ON M.MemberID = BR.MemberID
GROUP BY
    M.MemberID,
    M.FullName;
GO
/****** Object:  View [dbo].[vw_AvailableBooks]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AvailableBooks]
AS
SELECT
    BookID,
    Title,
    Author,
    AvailableCopies
FROM Books
WHERE AvailableCopies > 0;
GO
/****** Object:  View [dbo].[vw_OverdueBooks]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_OverdueBooks]
AS
SELECT
    BR.BorrowID,
    M.FullName AS MemberName,
    B.Title AS BookTitle,
    BR.DueDate
FROM Borrowings BR
INNER JOIN Members M
ON BR.MemberID = M.MemberID
INNER JOIN Books B
ON BR.BookID = B.BookID
WHERE BR.ReturnDate IS NULL
AND BR.DueDate < GETDATE();
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [Title], [Author], [ISBN], [PublishYear], [CategoryID], [Copies], [AvailableCopies]) VALUES (1, N'Clean Code', N'Robert C. Martin', N'9780132350884', 2008, 1, 5, 3)
INSERT [dbo].[Books] ([BookID], [Title], [Author], [ISBN], [PublishYear], [CategoryID], [Copies], [AvailableCopies]) VALUES (2, N'The Pragmatic Programmer', N'Andrew Hunt', N'9780201616224', 1999, 1, 3, 3)
INSERT [dbo].[Books] ([BookID], [Title], [Author], [ISBN], [PublishYear], [CategoryID], [Copies], [AvailableCopies]) VALUES (3, N'SQL Server Querying', N'Microsoft', N'9781509304330', 2016, 2, 4, 3)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrowings] ON 

INSERT [dbo].[Borrowings] ([BorrowID], [MemberID], [BookID], [BorrowDate], [DueDate], [ReturnDate], [Status]) VALUES (1, 1, 1, CAST(N'2026-07-01' AS Date), CAST(N'2026-07-15' AS Date), NULL, N'Borrowed')
INSERT [dbo].[Borrowings] ([BorrowID], [MemberID], [BookID], [BorrowDate], [DueDate], [ReturnDate], [Status]) VALUES (2, 2, 3, CAST(N'2026-07-02' AS Date), CAST(N'2026-07-16' AS Date), NULL, N'Borrowed')
INSERT [dbo].[Borrowings] ([BorrowID], [MemberID], [BookID], [BorrowDate], [DueDate], [ReturnDate], [Status]) VALUES (3, 3, 6, CAST(N'2026-06-20' AS Date), CAST(N'2026-07-04' AS Date), CAST(N'2026-07-03' AS Date), N'Returned')
SET IDENTITY_INSERT [dbo].[Borrowings] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Programming')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Database')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Science')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberID], [FullName], [Phone], [Email], [Address], [JoinDate]) VALUES (1, N'Ahmed Ali', N'01011111111', N'ahmed@gmail.com', N'Cairo', CAST(N'2026-07-06' AS Date))
INSERT [dbo].[Members] ([MemberID], [FullName], [Phone], [Email], [Address], [JoinDate]) VALUES (2, N'Mohamed Hassan', N'01022222222', N'mohamed@gmail.com', N'Alexandria', CAST(N'2026-07-06' AS Date))
INSERT [dbo].[Members] ([MemberID], [FullName], [Phone], [Email], [Address], [JoinDate]) VALUES (3, N'Sara Mahmoud', N'01033333333', N'sara@gmail.com', N'Giza', CAST(N'2026-07-06' AS Date))
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Role]) VALUES (1, N'admin', N'$2a$11$1/5lDBz46Wu79WzlWTwOyeLUNrNibbnj9QyNO9MfggNk9OamI8G8u', N'System Administrator', N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Role]) VALUES (2, N'Librarian', N'$2a$11$xqBhygzZbF6jLC16kH8fdeu6U9XkBL/BZMefbbu/I1E2yEMCUUux.', N'Library Employee', N'Librarian')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Role]) VALUES (4, N'admin123', N'$2a$11$rt/ExDtbntDmsRs1Z0Ab8eZxB06NVSv7mI/5E5EuDUAp8RjiPLTxG', N'admin123', N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Books__447D36EA7C7DC57A]    Script Date: 7/9/2026 10:33:48 PM ******/
ALTER TABLE [dbo].[Books] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E40B3D76BB]    Script Date: 7/9/2026 10:33:48 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Borrowings] ADD  DEFAULT (getdate()) FOR [BorrowDate]
GO
ALTER TABLE [dbo].[Borrowings] ADD  DEFAULT ('Borrowed') FOR [Status]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT (getdate()) FOR [JoinDate]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Borrowings]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Borrowings]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
/****** Object:  StoredProcedure [dbo].[sp_AddBook]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddBook]
    @Title NVARCHAR(200),
    @Author NVARCHAR(150),
    @ISBN NVARCHAR(30),
    @PublishYear INT,
    @CategoryID INT,
    @Copies INT
AS
BEGIN
    INSERT INTO Books
    (Title, Author, ISBN, PublishYear, CategoryID, Copies, AvailableCopies)
    VALUES
    (@Title, @Author, @ISBN, @PublishYear, @CategoryID, @Copies, @Copies);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddCategory]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddCategory]
    @CategoryName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Categories(CategoryName)
    VALUES(@CategoryName);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMember]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddMember]
    @FullName NVARCHAR(150),
    @Phone NVARCHAR(20),
    @Email NVARCHAR(100),
    @Address NVARCHAR(200)
AS
BEGIN
    INSERT INTO Members
    (FullName, Phone, Email, Address)
    VALUES
    (@FullName, @Phone, @Email, @Address);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BorrowBook]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BorrowBook]
    @MemberID INT,
    @BookID INT,
    @DueDate DATE
AS
BEGIN
    INSERT INTO Borrowings
    (MemberID, BookID, BorrowDate, DueDate, Status)
    VALUES
    (@MemberID, @BookID, GETDATE(), @DueDate, 'Borrowed');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateUser]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateUser]
  @Username NVARCHAR(50),
  @Password NVARCHAR(255),
  @FullName NVARCHAR(100),
  @Role NVARCHAR(20)
AS
BEGIN
  SET NOCOUNT ON;

  IF EXISTS(SELECT 1 FROM dbo.Users WHERE Username = @Username)
  BEGIN
    RAISERROR('Username already exists.', 16, 1);
    RETURN -1;
  END

  INSERT INTO dbo.Users (Username, Password, FullName, Role)
  VALUES (@Username, @Password, @FullName, @Role);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteBook]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteBook]
    @BookID INT
AS
BEGIN
    DELETE FROM Books
    WHERE BookID = @BookID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCategory]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteCategory]
    @CategoryID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Categories
    WHERE CategoryID = @CategoryID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMember]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteMember]
    @MemberID INT
AS
BEGIN
    DELETE FROM Members
    WHERE MemberID = @MemberID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Users
    WHERE UserID = @UserID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllBooks]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllBooks]
AS
BEGIN
    SELECT *
    FROM vw_Books;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllBorrowings]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllBorrowings]
AS
BEGIN
    SET NOCOUNT ON;

select * from vw_BorrowedBooks
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCategories]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllCategories]
AS
BEGIN
    SET NOCOUNT ON;

SELECT c.CategoryID,
       c.CategoryName,
       COUNT(b.BookID) AS BookCount
FROM dbo.Categories AS c
LEFT JOIN dbo.Books      AS b ON c.CategoryID = b.CategoryID
GROUP BY c.CategoryID, c.CategoryName
ORDER BY c.CategoryID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMembers]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllMembers]
AS
BEGIN
    SELECT *
    FROM Members;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsers]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Users
    ORDER BY UserID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookById]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetBookById]
    @BookID INT
AS
BEGIN
    SELECT
        B.*,
        C.CategoryName
    FROM Books B
    INNER JOIN Categories C
        ON B.CategoryID = C.CategoryID
    WHERE BookID = @BookID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBorrowedBooks]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetBorrowedBooks]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        BR.*,
        M.FullName AS MemberName,
        B.Title AS BookTitle
    FROM Borrowings BR
    INNER JOIN Members M
        ON BR.MemberID = M.MemberID
    INNER JOIN Books B
        ON BR.BookID = B.BookID
    WHERE BR.ReturnDate IS NULL
    ORDER BY BR.DueDate;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBorrowingById]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetBorrowingById]
    @BorrowID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        BR.*,
        M.FullName AS MemberName,
        B.Title AS BookTitle
    FROM Borrowings BR
    INNER JOIN Members M
        ON BR.MemberID = M.MemberID
    INNER JOIN Books B
        ON BR.BookID = B.BookID
    WHERE BR.BorrowID = @BorrowID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategoryById]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCategoryById]
    @CategoryID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Categories
    WHERE CategoryID = @CategoryID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDashboardStatistics]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetDashboardStatistics]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        (SELECT COUNT(*) FROM Books) AS TotalBooks,

        (SELECT COUNT(*) FROM Members) AS TotalMembers,

        (SELECT COUNT(*)
         FROM Borrowings
         WHERE ReturnDate IS NULL) AS BorrowedBooks,

        (SELECT COUNT(*)
         FROM Borrowings
         WHERE ReturnDate IS NULL
           AND DueDate < CAST(GETDATE() AS DATE)) AS OverdueBooks;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMemberById]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetMemberById]
    @MemberID INT
AS
BEGIN
    SELECT *
    FROM Members
    WHERE MemberID = @MemberID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserById]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserById]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Users
    WHERE UserID = @UserID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Login]
    @Username NVARCHAR(50),
    @Password NVARCHAR(255)
AS
BEGIN
    SELECT UserID, Username, Password, FullName, Role
    FROM Users
    WHERE Username = @Username
      AND Password = @Password;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReportBooks]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReportBooks]
(
    @Search NVARCHAR(100) = NULL,
    @FromDate DATE = NULL,
    @ToDate DATE = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        B.BookId,
        B.Title,
        B.Author,
        B.ISBN,
        C.CategoryName,
        B.PublishYear,
        B.Copies,
        B.AvailableCopies
    FROM Books B
    INNER JOIN Categories C
        ON B.CategoryId = C.CategoryId
    WHERE
        (
            @Search IS NULL
            OR B.Title LIKE '%' + @Search + '%'
            OR B.Author LIKE '%' + @Search + '%'
            OR B.ISBN LIKE '%' + @Search + '%'
        )
    ORDER BY B.Title;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReportBorrowings]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReportBorrowings]
(
    @Search NVARCHAR(100) = NULL,
    @FromDate DATE = NULL,
    @ToDate DATE = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        BR.BorrowId,
        M.FullName AS Member,
        B.Title AS Book,
        BR.BorrowDate,
        BR.DueDate,
        BR.ReturnDate
    FROM Borrowings BR
    INNER JOIN Members M
        ON BR.MemberId = M.MemberId
    INNER JOIN Books B
        ON BR.BookId = B.BookId
    WHERE
    (
        @Search IS NULL
        OR M.FullName LIKE '%' + @Search + '%'
        OR B.Title LIKE '%' + @Search + '%'
    )
    AND
    (
        @FromDate IS NULL
        OR BR.BorrowDate >= @FromDate
    )
    AND
    (
        @ToDate IS NULL
        OR BR.BorrowDate <= @ToDate
    )
    ORDER BY BR.BorrowDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReportMembers]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReportMembers]
(
    @Search NVARCHAR(100) = NULL,
    @FromDate DATE = NULL,
    @ToDate DATE = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        MemberId,
        FullName,
        Phone,
        Email,
        Address
    FROM Members
    WHERE
        (
            @Search IS NULL
            OR FullName LIKE '%' + @Search + '%'
            OR Phone LIKE '%' + @Search + '%'
            OR Email LIKE '%' + @Search + '%'
        )
    ORDER BY FullName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReportOverdueBooks]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReportOverdueBooks]
(
    @Search NVARCHAR(100) = NULL,
    @FromDate DATE = NULL,
    @ToDate DATE = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        BR.BorrowId,
        M.FullName AS Member,
        B.Title AS Book,
        BR.BorrowDate,
        BR.DueDate,
        DATEDIFF(DAY, BR.DueDate, GETDATE()) AS LateDays
    FROM Borrowings BR
    INNER JOIN Members M
        ON BR.MemberId = M.MemberId
    INNER JOIN Books B
        ON BR.BookId = B.BookId
    WHERE
        BR.ReturnDate IS NULL
        AND BR.DueDate < CAST(GETDATE() AS DATE)
        AND
        (
            @Search IS NULL
            OR M.FullName LIKE '%' + @Search + '%'
            OR B.Title LIKE '%' + @Search + '%'
        )
    ORDER BY LateDays DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReturnBook]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReturnBook]
    @BorrowID INT
AS
BEGIN
    UPDATE Borrowings
    SET ReturnDate = GETDATE(),
        Status = 'Returned'
    WHERE BorrowID = @BorrowID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchBook]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchBook]
    @Keyword NVARCHAR(200)
AS
BEGIN
    SELECT *
    FROM Books
    WHERE Title LIKE '%' + @Keyword + '%'
       OR Author LIKE '%' + @Keyword + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchBorrowings]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SearchBorrowings]
    @Keyword NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        BR.*,
        M.FullName AS MemberName,
        B.Title AS BookTitle
    FROM Borrowings BR
    INNER JOIN Members M
        ON BR.MemberID = M.MemberID
    INNER JOIN Books B
        ON BR.BookID = B.BookID
    WHERE
        M.FullName LIKE '%' + @Keyword + '%'
        OR B.Title LIKE '%' + @Keyword + '%'
        OR BR.Status LIKE '%' + @Keyword + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchMembers]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SearchMembers]
    @Keyword NVARCHAR(100)
AS
BEGIN
    SELECT *
    FROM Members
    WHERE
        FullName LIKE '%' + @Keyword + '%'
        OR Phone LIKE '%' + @Keyword + '%'
        OR Email LIKE '%' + @Keyword + '%';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBook]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateBook]
    @BookID INT,
    @Title NVARCHAR(200),
    @Author NVARCHAR(150),
    @ISBN NVARCHAR(30),
    @PublishYear INT,
    @CategoryID INT
AS
BEGIN
    UPDATE Books
    SET Title = @Title,
        Author = @Author,
        ISBN = @ISBN,
        PublishYear = @PublishYear,
        CategoryID = @CategoryID
    WHERE BookID = @BookID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCategory]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateCategory]
    @CategoryID INT,
    @CategoryName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Categories
    SET CategoryName = @CategoryName
    WHERE CategoryID = @CategoryID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMember]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateMember]
    @MemberID INT,
    @FullName NVARCHAR(150),
    @Phone NVARCHAR(20),
    @Email NVARCHAR(100),
    @Address NVARCHAR(200)
AS
BEGIN
    UPDATE Members
    SET
        FullName = @FullName,
        Phone = @Phone,
        Email = @Email,
        Address = @Address
    WHERE MemberID = @MemberID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 7/9/2026 10:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateUser]
    @UserID INT,
    @Username NVARCHAR(50),
    @Password NVARCHAR(255),
    @FullName NVARCHAR(100),
    @Role NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET
        Username = @Username,
        Password = @Password,
        FullName = @FullName,
        Role = @Role
    WHERE UserID = @UserID;
END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "BR"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "M"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "B"
            Begin Extent = 
               Top = 12
               Left = 474
               Bottom = 142
               Right = 647
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_BorrowedBooks'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_BorrowedBooks'
GO
USE [master]
GO
